<tr id="<%= dom_id(local_census_record) %>" class="local_census_record">
  <td>
    <%= humanize_document_type(local_census_record.document_type) %>
  </td>
  <td>
    <%= local_census_record.document_number %>
  </td>
  <td>
    <%= local_census_record.phone_number %>
  </td>
  <td>
    <%= local_census_record.gender %>
  </td>
  <td>
    <%= local_census_record.neighborhood %>
  </td>
</tr>
