<h2><%= t("management.document_verifications.title") %></h2>

<div class="small-12 medium-8">
  <%= form_for(@document_verification,
               as: :document_verification,
               url: check_management_document_verifications_path) do |f| %>

    <div class="small-12 medium-5">
      <%= f.select(:document_type,
                   [[humanize_document_type("1"), 1],
                    [humanize_document_type("2"), 2],
                    [humanize_document_type("3"), 3]]) %>
    </div>
    <div class="small-12 medium-5">
      <%= f.text_field :document_number %>
    </div>

    <div class="small-12 medium-5">
      <%= f.number_field :phone_number, hint: t("verification.residence.new.phone_number_help_text") %>
    </div>

    <%= f.submit t("management.check"), class: "button" %>
  <% end %>
</div>
