<div class="sisli-logos">
  <a href="<%= t("layouts.header.sisli_belediyesi_link") %>" target="_blank"
     title="<%= t("layouts.header.sisli_belediyesi") %>">
    <%= image_tag("logo_sisli_belediyesi.png", alt: t("layouts.header.sisli_belediyesi")) %>
  </a>

  <a href="<%= t("layouts.header.sisli_kent_konseyi_link") %>" target="_blank"
     title="<%= t("layouts.header.sisli_kent_konseyi") %>">
    <%= image_tag("logo_sisli_kent_konseyi.png", alt: t("layouts.header.sisli_kent_konseyi")) %>
  </a>

  <a href="<%= t("layouts.header.benim_butcem_link") %>" target="_blank"
     title="<%= t("layouts.header.benim_butcem") %>">
    <%= image_tag("logo_benim_butcem.png", alt: t("layouts.header.benim_butcem")) %>
  </a>
</div>
